<header>
    <nav>
    <!-- NAV 1 -->
        <div class="container d-flex nav1 mt-2">
            <h1>regis raffin</h1><img id='logo' src="frontend/public/LOGO_regis.png" alt="logo"><h2>film director</h2>
        </div>
    <!-- NAV 2 -->
        <div class="container-fluid">
            <ul class="nav2 d-flex">
                <li id="one"><a href="index.html">all</a></li>
                <li id="two"><a href="index2.html">animation</a></li>
                <li id="three"><a href="index3.html">live-action</a></li>
                <li id="four"><a href="index4.html">about</a></li>
            </ul>
        </div>
    </nav>
</header>