@media screen and (min-width : 481px) and (max-width : 767px)
{
    /* NAV */
    .nav1>h1{
        font-size: 25px;
    }
    .nav1>h2{
        font-size: 20px;
    }
    #logo{
        width: 50px;
        height: auto;
    }
    .nav1>h1,.nav1>img, .nav1>h2{
        margin: 6px;
    }
    .nav1{
        letter-spacing: 2px;
    }
    .nav2 li{
        font-size: 10px;
    } 
}

/* Smartphones (portrait and landscape)*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) 
{
    /* NAV */
    .nav1>h1{
        font-size: 16px;
    }
    .nav1>h2{
        font-size: 11px;
    }
    #logo{
        width: 25px;
        height: auto;
    }
    .nav1>h1,.nav1>img, .nav1>h2{
        margin: 6px;
    }
    .nav1{
        letter-spacing: 2px; 
    }
    .nav2 li{
        font-size: 7px;
    }

}

/*https://media-queries.aliasdmc.fr/media-queries-live.php*/